<section class="contact">
    <div class="container">
        <div class="contact__wrapper">
            <h2 class="section-title section-title--modify">contact</h2>
            <ul class="contact__block-list">
                <li class="contact__block-item">
                    <h3 class="contact__block-title">Let's start building your brand's unique story together.</h3>
                </li>
                <li class="contact__block-item">
                    <p class="contact__block-text">Want to see what a difference a strong brand can make? Request a
                        consultation today.</p>
                </li>
                <li class="contact__block-item">
                    <a href="#" class="dark-btn">Get In Touch</a>
                </li>
            </ul>
        </div>
    </div>
</section>