<section class="selected-work">
    <h2 class="section-title selected-work__title">Selected work</h2>
    <div class="container">
        <div class="selected-works">
            <div class="selected-works__item trinity">
                <div class="selected-works__wrapper">
                    <h3 class="selected-works__trinity">trinity</h3>
                    <div class="selected-works__link-wrapper">
                        <a href="#" class="selected-works__link">Digital Design</a>
                        <a href="#" class="selected-works__link">2022</a>
                    </div>
                    <a class="dark-btn" href="#">Discover</a>
                </div>
            </div>
            <div class="selected-works__item"><img src="../../images/trinity-work-1.jpg" alt="selected-images"
                    class="selected-works__img"></div>
            <div class="selected-works__item"><img src="../../images/trinity-work-2.jpg" alt="selected-images"
                    class="selected-works__img"></div>
            <div class="selected-works__item"><img src="../../images/morpheus-work-1.jpg" alt="selected-images"
                    class="selected-works__img"></div>
            <div class="selected-works__item"><img src="../../images/morpheus-work-2.jpg" alt="selected-images"
                    class="selected-works__img"></div>
            <div class="selected-works__item morpheus">
                <div class="selected-works__wrapper">
                    <h3 class="selected-works__trinity">morpheus</h3>
                    <div class="selected-works__link-wrapper">
                        <a href="#" class="selected-works__link">Digital Design</a>
                        <a href="#" class="selected-works__link">2023</a>
                    </div>
                    <a class="dark-btn" href="#">Discover</a>
                </div>
            </div>
        </div>
        <div class="selected-work__all-work-wrapper">
            <a class="selected-work__all-work-btn" href="#">All Work</a>
        </div>
    </div>
</section>