<section class="what-i-do">
    <div class="what-i-do-container">
        <h2 class="section-title__what-i-do">what i do</h2>
        <ul class="what-i-do__list">
            <li class="what-i-do__item">
                <h3 class="what-i-do__title">Digital Design</h3>
                <p class="what-i-do__text">I craft captivating digital designs that captivate and motivate your
                    audience. Allow me to breathe life into your brand with my expertise.</p>
            </li>
            <li class="what-i-do__item">
                <h3 class="what-i-do__title">Art Direction</h3>
                <p class="what-i-do__text">My proficiency in art direction guarantees that your project aligns with your
                    brand, conveys your message effectively, and is visually striking. Let's collaborate to narrate your
                    story.</p>
            </li>
            <li class="what-i-do__item">
                <h3 class="what-i-do__title">Interaction Design</h3>
                <p class="what-i-do__text">I have a specialization in creating user experiences that are not only
                    functional but also aesthetically pleasing and user-friendly.</p>
            </li>
            <li class="what-i-do__item">
                <h3 class="what-i-do__title">Motion Design</h3>
                <p class="what-i-do__text">From dynamic logos to informative explainer videos, I infuse life into your
                    message through visually mesmerizing motion design.</p>
            </li>
        </ul>
    </div>
</section>