.footer {
    background-color: $bgcolor_main;
    padding: 25px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-family: Gilroy;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        &--semibold {
            font-weight: 600;
        }
    }

    &__logo-list {
        display: flex;
        gap: 10px;
    }

    &__logo-link {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 767px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 20px;
        }
    }
}