.header {
    background-color: $bgcolor_main;
    padding-top: 40px;
    padding-bottom: 30px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 44px;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 43px;

    &__logo {}

    &__text {
        color: $color_black;
        padding-left: 10px;
        font-family: Gilroy;
        font-size: 35px;
        font-weight: 800;
        line-height: 43px;
        text-align: center;

        &--md {
            text-transform: uppercase;
            font-family: Jost;
            font-size: 35px;
            font-weight: 400;
            line-height: 51px;
            text-align: center;
        }
    }

    &__trademark {
        align-self: flex-start;
    }
}

.menu-link {
    height: 31px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: $color_main;
}

@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 767px) {
    .header {
        padding-top: 20px;
    }
    .header-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo-link__text {
        display: none;
    }
    .logo-link__trademark {
        display: none;
    }
}