.contact {
    background-color: $bgcolor_main;
    padding: 100px 0;
    border-top: 1px solid $color_main;
    border-bottom: 1px solid $color_main;

    &__wrapper {
        display: flex;
        gap: 40px;
    }

    &__block-title {
        font-family: Gilroy;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        color: $color_main;
        text-transform: uppercase;
    }

    &__block-text {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: $color_main;
        margin: 30px 0;
    }
}

.section-title {

    &--modify {
        font-family: Gilroy;
        font-size: 155px;
        font-weight: 300;
        line-height: 179px;
        color: $color_gray;

    }
}

@media screen and (max-width: 1200px) {
.contact {
    padding: 0 0 50px 0;
    &__wrapper {
        flex-direction: column;
        text-align: center;
    }
}
.section-title {
    &--modify {
        font-size: 150px;
        line-height: 173px;
    }
}
}

@media screen and (max-width: 767px) {
    .contact {
        &__block-title {
            font-size: 50px;
            line-height: 59px;
        }
        &__block-text {
            font-size: 30px;
            line-height: 35px;
        }
        &__block-item{
            & .dark-btn{
                width: 100%;
            }
        }
    }
    .section-title {
        &--modify {
            font-size: 65px;
            line-height: 92px;
        }
    }
}