.dianne-russell {
    text-align: center;
    background-color: $bgcolor_main;

    &__title {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 150px;
        line-height: 176px;

        &--light {

            font-family: Gilroy;
            font-weight: 300;
            font-size: 150px;
            line-height: 176px;
        }
    }

    &__scroll-down {
        margin-top: 30px;
        margin-bottom: 40px;
        cursor: pointer;
    }

    &__photo {
        object-fit: cover;
        width: 100%;
    }

}

.about-me {
    padding: 93px 0;
    display: flex;

    &__text {
        width: 75%;
        text-align: left;
        padding: 0 70px;
        font-family: Gilroy;
        box-sizing: border-box;
        font-size: 62px;
        font-weight: 300;
        line-height: 71px;

        &--md {
            font-weight: 800;
        }
    }

    &__socials {
        background-color: $color_main;
        width: 25%;
        padding: 60px 70px 60px 0;
        text-align: right;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    &__socials-text {
        color: $color_white;
        font-family: Gilroy;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 30px;
        width: 100%;

    }

    &__social-links-wrapper {}

    &__social-links {
        padding-left: 20px;
        display: inline-block;
    }
}

.logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid $color_main;
    border-bottom: 1px solid $color_main;
    padding: 70px 0;
    gap: 40px;

    &__link {
        border-radius: 50px;
        padding: 15px 40px;
        background-color: $color_white;
        display: inline-block;
    }

}


@media screen and (max-width: 1200px) {
    .dianne-russell {

        &__title {
            font-size: 120px;
            line-height: 140px;

            &--light {
                font-size: 120px;
                line-height: 140px;
            }
        }
    }

    .about-me {
        padding: 0;
        flex-direction: column;

        &__text {
            padding: 30px;
            font-size: 52px;
            text-align: center;
            line-height: 63.7px;
            width: 100%;
        }

        &__socials {
            width: 100%;
            padding: 40px 30px 40px 0;
        }
    }

    .logo-list {
        gap: 20px;
        padding: 40px 0;
    }
}

@media screen and (max-width: 767px) {
    .dianne-russell {

        &__title {
            font-size: 57px;
            line-height: 67px;

            &--light {
                font-size: 57px;
                line-height: 67px;

            }
        }
    }

    .about-me {

        &__text {
            padding: 30px 20px;
            font-size: 30px;
            line-height: 35px;
        }

        &__socials {
            padding: 40px 28px 40px 0;
        }
    }

    .logo-list {
        padding: 30px 0;
    }
}