.my-clients {
    background-color: $bgcolor_main;
    border-bottom: 1px solid $color_main;
    padding-bottom: 130px;
    &__title {
        padding: 50px 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 50px 0;
    }

    &__item:first-child {
        border-bottom: 1px solid $color_black;
        padding: 30px 50px 60px 30px;
    }

    &__item:nth-child(2) {
        border-left: 1px solid $color_black;
        border-right: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
        padding: 30px 50px 60px 50px;
    }
    &__item:nth-child(3) {
        border-bottom: 1px solid $color_black;
        padding: 30px 30px 60px 50px;
    }
    &__item:nth-child(4) {
        padding: 30px 50px 90px 30px;
    }
    &__item:nth-child(5) {
        border-left: 1px solid $color_black;
        border-right: 1px solid $color_black;
        padding: 30px 50px 90px 50px;
    }
    &__item:last-child {
        padding: 30px 30px 90px 50px;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__title-item {
        font-family: Gilroy;
        font-size: 40px;
        font-weight: 800;
        line-height: 44px;
        color: $color_gray;
        margin-bottom: 30px;
    }

    &__text {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: $color_black;
        margin-bottom: 30px;
    }

    &__info-wrapper {
        display: flex;
        align-items: center;
    }

    &__photo {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__name {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: $color_black;
        margin-bottom: 10px;

    }

    &__job {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        color: $color_black;

    }
}
@media screen and (max-width: 1200px) {
    .my-clients {
        padding-bottom: 30px;
        &__title {
            padding: 30px 0;
        }
        &__list {
            grid-template-columns: 1fr;
            padding-bottom: 30px 0;

        }
        &__item:not(:last-child) {
            border-bottom: 1px solid $color_main;
            
        }
        &__item:first-child {
            padding: 40px 0;
        }
    
        &__item:nth-child(2) {
            border-left: none;
            border-right: none;
            padding: 40px 0;
        }
        &__item:nth-child(3) {
            padding: 40px 0;
        }
        &__item:nth-child(4) {
            padding: 40px 0;
        }
        &__item:nth-child(5) {
            border-left: none;
            border-right: none;
            padding: 40px 0;
        }
        &__item:last-child {
            padding: 40px 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .my-clients {
        padding-bottom: 0;
    }
}