.our-team {
    background-color: $bgcolor_main;

    &__title {
        padding: 50px 0;
    }

    &__list {
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 30px;
    }

    &__item {
        &:last-child {
            grid-column: 3 / 5;
        }

        & p {
            display: inline-block;
        }
    }

    &__name {
        font-family: Gilroy;
        font-size: 30px;
        font-weight: 800;
        line-height: 37px;
        color: $color_gray;
        margin-top: 30px;
    }

    &__job {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin: 5px 0 15px 0;
        color: $color_gray;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1.25;
        object-fit: cover;
        filter: grayscale(1);
    }
}


.social-list {
    display: flex;
    justify-content: end;
    padding: 15px 0 30px 0;
    gap: 10px;
}


.join-the-team {

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__join {
        font-family: Gilroy;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        text-transform: uppercase;
        color: $color_gray;
    }

    &__text {
        font-family: Gilroy;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        margin: 15px 0;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1200px) {
    .our-team {
        &__title {
            padding: 30px 0;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            &:last-child {
                grid-column: 1 / 3;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .our-team {
        &__list {
            grid-template-columns: 1fr;
            gap: 0;
            text-align: center;
        }

        &__item {
            &:last-child {
                grid-column: 1 / 1;
            }
        }

        &__name {
            margin-top: 20px;
        }
    }

    .social-list {
        justify-content: center;
        padding-bottom: 50px;
    }

    .join-the-team {
        &__item {
            &>.dark-btn {
                width: 100%;
            }
        }

        &__text {
            font-size: 40px;
            line-height: 46px;
        }
    }
}