.selected-work {
    background-color: $bgcolor_main;
    border-top: 1px solid $color_main;
    border-bottom: 1px solid $color_main;

    &__title {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    &__all-work-wrapper {
        padding-top: 85px;
        padding-bottom: 100px;
        text-align: center;
    }

    &__all-work-btn {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: $color_main;
        background-color: $color_white;
        padding: 15px 60px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
}

.selected-works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 70px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__link-wrapper {
        flex: 1;
    }

    &__item {
        a:nth-of-type(1) {
            margin-right: 30px;
        }
    }

    &__trinity {
        font-family: Gilroy;
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        text-transform: uppercase;
        color: $color_black;
        margin-bottom: 30px;
    }

    &__link {
        display: inline-block;
        padding: 15px 30px;
        border-radius: 50px;
        background-color: $color_white;
        font-family: Gilroy;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: $color_main;

    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    & .dark-btn {
        align-self: end;
    }
}

@media screen and (max-width: 1200px) {
    .selected-work {
        &__title {
            padding: 30px 0;
        }
    }

    .selected-works {
        grid-template-columns: 100%;
        grid-row-gap: 30px;
    }

    .selected-work {
        &__title {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__all-work-wrapper {
            padding-top: 70px;
            padding-bottom: 30px
        }
    }

    .trinity {
        grid-row: 3 / 4;
    }
}

@media screen and (max-width: 767px) {
    .selected-works {
        grid-row-gap: 20px;
        &__link-wrapper {
            margin-bottom: 30px;
        }
    }

    .selected-work {
        &__all-work-btn {
            width: 100%;
        }

    }

}