.what-i-do-container {
    background-color: $bgcolor_main;
    padding: 70px 63px 70px 111px;
    box-sizing: border-box;
}

.section-title__what-i-do {
    margin-bottom: 100px;
    font-size: 150px;
    font-family: Gilroy;
    font-weight: 300;
    line-height: 172px;
    text-align: center;
    color: $color_main;
    text-transform: uppercase;
}


.what-i-do {
    padding-left: 50%;
    background-image: url('../../images/what-i-do-bgd.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;

    &__list {
        counter-reset: li;

        &>li>h3::before {
            counter-increment: li;
            content: '0' counter(li);
            font-weight: 300;
            padding-right: 10px;
        }
    }

    &__item {
        position: relative;
        
        &:not(:last-child) {
            padding-bottom: 40px;
        }

        &:not(:first-child) {
            padding-top: 40px;
        }

        &:not(:last-child)::after {
            position: absolute;
            bottom: 0;
            content: '';
            border-bottom: 1px solid $color_main;
            width: 100%;
        }
    }

    &__title {
        text-transform: uppercase;
        color: $color_black;
        font-family: Gilroy;
        font-weight: 600;
        font-size: 44px;
        line-height: 48px;
        margin-bottom: 10px;
    }

    &__text {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: $color_black;
    }
}

@media screen and (max-width: 1200px) {

    .section-title__what-i-do {
        margin-bottom: 40px;
    }

    .what-i-do {
        background-size: contain;
        padding-top: 991px;
        padding-left: 0;
    }

    .what-i-do-container {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 767px) {

    .section-title__what-i-do {
        font-family: Gilroy;
        font-size: 65px;
        font-weight: 300;
        line-height: 92px;
        text-align: center;

    }

    .what-i-do {
        padding-top: 478px;
        &__item {
    
            &:not(:first-child) {
                padding-top: 30px;
            }
            &:not(:last-child) {
                padding-bottom: 30px;
            }
        }
        &__title {
            font-size: 35px;
            line-height: 41px;
        }
        
    }

    .what-i-do-container {
        padding: 20px;
    }
}