.dark-btn {
    padding: 15px 30px;
    background-color: $color_main;
    border-radius: 50px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $color_white;
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    &::after {
        content: url("../../images/arrow-right.svg");
        margin-left: 10px;
        vertical-align: middle;
    }
}