.section-title {
    font-family: Gilroy;
    font-size: 212px;
    font-weight: 300;
    line-height: 244px;
    text-align: center;
    color: $color_main;
    text-transform: uppercase;
    line-height: 244px;
}

@media screen and (max-width: 1200px) {
    .section-title {
        font-size: 150px;
        line-height: 173px;
    }

}

@media screen and (max-width: 767px) {
    .section-title {
        font-size: 65px;
        line-height: 92px;
    }
}