<header class="header">
    <div class="container header-wrapper">
        <a href="#" class="logo-link">
            <img src="../images/header/header_logo.svg" alt="logo" class="logo-link__logo">
            <p class="logo-link__text">Dianne <span class="logo-link__text--md">Studio</span></p>
            <img class="logo-link__trademark" src="../images/header/logo_trademark.svg" alt="trademark">
        </a>
        <a href="#" class="menu-link">menu</a>
    </div>
</header>