@import "./reset";
@import "./fonts";
@import "./link";


.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: border-box;
    @media screen and (max-width: 1200px) {
        padding: 0 30px;
    }
    @media screen and (max-width: 767px) {
        padding: 0 20px;
    }

}