@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Light/Gilroy-Light.woff") format("woff"), url("../../fonts/Gilroy/Light/Gilroy-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Regular/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy/Regular/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Medium/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy/Medium/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Semibold/Gilroy-Semibold.woff") format("woff"), url("../../fonts/Gilroy/Semibold/Gilroy-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Bold/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy/Bold/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Extrabold/Gilroy-Extrabold.woff") format("woff"), url("../../fonts/Gilroy/Extrabold/Gilroy-Extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Jost&display=swap');

